<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui header">
            <div class="content">
                Login to Upbeat
            </div>
        </h2>
        <form class="ui large form" #form (submit)="onSubmit(form.id.value, form.password.value)">
            <div class="ui segment">
                <div class="field">
                    <input name="id" type="text" placeholder="Roll no" autocomplete="off" autofocus required>
                </div>
                <div class="field">
                    <input name="password" type="password" placeholder="password" required>
                </div>
                <button class="ui fluid large submit primary button"><i class="unlock alternate icon"></i>Login</button>
            </div>
        </form>
    </div>
</div>